body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #658d97;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 250%;
    height: 250%;
    background-image: url("pexels-photo-1764702.jpeg"); 
    background-size: cover;
    filter: blur(8px); 
    z-index: -1; 
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    position: relative; 
    z-index: 1; 
}
footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}